
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: clamp(2rem, 3vw, 2.5rem);
  background-color: rgb(255, 255, 255);
}

.heading {
  height: clamp(7rem, 12vw, 7.5rem);
}

.heading h1{
  font-family: var(--titleFont);
  font-size: clamp(3.5rem, 10vw, 6rem);
  text-align: right;
  color: #ddf6ff;
}

.content {
  width: 100%;
  display: flex;
}

.innercontent{
  width: 37%;
}

.imagebig{
  width: 60%;
  height: auto;
  display: flex;
  justify-content:flex-end;
}

.innerimg img{
  width: 100%;
  height: auto;
}

.innerimg{
  box-shadow: 35px -30px 0px 3px #15a6ddbf;
  -webkit-box-shadow: 35px -30px 0px 3px rgba(21,166,221,0.75);
  -moz-box-shadow: 35px -30px 0px 3px rgba(21,166,221,0.75);
  height: 90%;
  width: 90%;
}

.innercontent p {
  color: #9aaebc;
  font-family: var(--textFont);
  font-weight: 400;
  font-size: clamp(0.25rem, 3vw, 1.25rem);
  width: clamp(24rem, 27vw, 27rem);
}

.innercontent h3 {
  font-family: var(--titleFont);
  font-weight: 700;
  font-size: clamp(1.75rem, 4vw, 3rem);
}

.innercontent h6 {
  color: #15a6dd;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: clamp(1rem, 2.25vw, 1.75rem);
  margin-bottom: clamp(0.25rem, 1vw, 0.50rem);
}

.line {
  margin-top: clamp(4.5rem, 7vw, 5rem);
  margin-bottom: clamp(5.5rem, 8vw, 6rem);
  background-color: #70838a;
  height: 3px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main .box1:nth-child(2),
.main .box1:nth-child(3),
.main .box1:nth-child(4),
.main .box1:nth-child(5){
  width: 90%;
  align-self: flex-end;
}



.main .box1:nth-child(2) .innerimg,
.main .box1:nth-child(3) .innerimg 
.main .box1:nth-child(4) .innerimg
.main .box1:nth-child(5) .innerimg  {
  /* styles */
  box-shadow: 35px -30px 0px 3px #8FDAF5;
  -webkit-box-shadow: 35px -30px 0px 3px #8FDAF5;
  -moz-box-shadow: 35px -30px 0px 3px #8FDAF5;
}


@media screen and (max-width: 1000px) {

.main{
  margin-bottom: 0;
}

.heading{
  height: clamp(2.5rem, 4vw, 3rem);
}

.heading h1{
  text-align: left;
  font-size: clamp(2rem,4vw,2.5rem);
}

.box1, .content, .innercontent, .innercontent p{
  width: 100%;
}

.box1{
  margin-bottom: clamp(2rem,3vw,2.5rem);
}

.main .box1:nth-child(2),
.main .box1:nth-child(3){
  width: 100%;
}

.main .heading:nth-child(3){
  height: 0;
}

.content{
  flex-direction: column;
}

.imagebig{
  width: 90%;
  height: auto;
  padding-top: clamp(1.5rem, 3vw, 1rem);
}

.innerimg{
  -webkit-box-shadow: 14px -16px 0px -1px rgba(21,166,221,0.75);
    -moz-box-shadow: 14px -16px 0px -1px rgba(21,166,221,0.75);
    box-shadow: 14px -16px 0px -1px rgba(21,166,221,0.75);
}

.main .box1:nth-child(2) .innerimg,
.main .box1:nth-child(3) .innerimg {
  /* styles */
  box-shadow: 14px -16px 0px -1px #8FDAF5;
  -webkit-box-shadow: 14px -16px 0px -1px #8FDAF5;
  -moz-box-shadow: 14px -16px 0px -1px #8FDAF5;
}

.innerimg img{
  width: 100%;
  height: auto;
}

.line {
  margin-top: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: clamp(1.5rem, 4vw, 2rem);
}
}
