#events {
    font-family: var(--textFont);
    padding: clamp(1rem, 2.5vw, 2rem);
    color: var(--black);
    background: rgb(255, 255, 255);
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: clamp(3rem, 2vw, 5rem);
    margin-bottom: clamp(3rem, 5vw, 8rem);
}

.maincontent{
    width: 100%;
}

.upperpart {
    display: flex;
    justify-content: space-between;
    /* margin-left: clamp(1rem, 6vw, 4rem); */
    margin-bottom: clamp(1.5rem, 8vw, 5rem);
}

.headline {
    margin-top: auto;
    font-weight: 300 !important;
    color: var(--gray);
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    /* padding-right: clamp(0.5rem, 1vw, 1rem); */
    font-size: clamp(0.6rem, 2vw, 1.5rem);
    border-width: 0 0 3px 0;
    border-style: solid;
    display: inline-block;
    border-image-source: linear-gradient(180deg, #8FDAF5 0%, #15A6DD 49.79%, #2041B5 100%);
}

@media screen and (max-width: 1000px) {

    #events{
      padding-left: 0;
      padding-right: 0;
    }
}