.section{
    display: flex;
    flex-direction: column;
    width: 100%;	
	z-index: 3;
	position: fixed;
	background-color: white;
}

.navbox{
	display: flex;
	height: 3.5rem;
	padding-inline:2vw ;
	justify-content: space-between;
	z-index: 3;
	background-color: white;
	box-shadow: 2.660855770111084px 3.991283655166626px 9.978209495544434px rgba(0, 0, 0, 0.25)
}

.navitem{
	font-family: var(--textFont);
	font-weight: 500;
	color: #020E13;
	display: flex;
	gap: 2vw;
	align-items: center;
}

.navitem a{
	text-decoration: none;
	color:#020E13;
}

.logo{
	padding-top: 5px;
	width: 7rem;
	height: auto;
	align-items: center;
	position: absolute;	
  	left: 50%;
  	transform: translateX(-50%);
}
.image{
	height: inherit;
	width: inherit;
	position: relative;
	z-index: 5;
}

.logos, .home{
	display: none;
}

.closeButton{
	display: none;
}

/* .Open{
	display: block;
} */

@media screen and (max-width: 1000px) {

	.Open .navbox{
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content:center;
		background-color: rgba(0, 0, 0, 0.95);
		transition: transform 0.3s ease-out; /* Add this line */
    	transform: translateX(0); /* Add this line */
	}

	.navbox {
		background-color: white;
		transform: translateX(-100%); /* Add this line */
	}

	.navitem, .logos{
		display: none;
	  }

	  .image{
		display: flex;
		position: absolute;
		justify-content:space-between;
		align-items:center;
		height: 3.5rem;
		/* box-shadow: 2.660855770111084px 3.991283655166626px 9.978209495544434px rgba(0, 0, 0) */
		box-shadow: 0px 4px 4px 0px #00000040;
	  }
	
	.Open .navitem {
		display: flex;
		flex-direction: column;
		padding-bottom: clamp(1rem,3vw,1.5rem);
	  }

	.home{
		display: flex;
	}

	.navitem a{
		color:white;
	}

	.logo{
		display: flex;
		align-items:center;
		position: relative;
	}

	.Open .image{
		display: flex;
		position: absolute;
		justify-content:space-between;
		align-items:center;
		height:clamp(4rem,10vw,4.25rem);
	}

	.logos img{
		height: clamp(1.5rem,4vw,2rem);
	}
	
	.Open .logos{
		gap: 1rem;
		justify-content: center;
	}

	.closeButton{
		color: #15A6DD;
		cursor: pointer;
		display: flex;
		justify-content: end;
		margin-right: 1rem;
	}

	.navitem a:hover, .navitem a:active {
		color: #15a6dd;
	  }

}