.scrollsectionouter {
    overflow: hidden;
    /* height: 70vh; */
    position: relative;

  }
  .githubLink{
    text-decoration: none;
    color: #15a6dd;
  }
  
  .scrollsectioninner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap:8vw;
    margin-left: 10vw;
  }
  
  .scrollsection {
    height: 50vh;
    width: 40vw;
    padding-inline: 1vw;
    background-color: #EDF9FD;
    display: flex;
    /* gap:10px; */
    overflow: hidden;
    align-items: end;
    justify-content: space-between;
    box-shadow: 2.660855770111084px 3.991283655166626px 9.978209495544434px rgba(0, 0, 0, 0.25)
  }
  
  .scrollsection h3 {
    
    color: #15A6DD;
    font-family: var(--textFont);
    font-size: 3rem;
    font-weight: 600;
    /* width: 40%; */
    line-height: 100%;
  }

  .scrollsection h5{
    color: grey;
    font-family: var(--textFont);
    font-size: clamp(0.2rem,3vw,1.5rem);
  }

  .scrollsection p{
    font-family: var(--textFont);
    font-size: 1.5rem;
    /* text-decoration: underline; */
  }

  .scrollsectiondiv div{
    border-bottom: 2px solid #000000;
    display: flex;
    margin-top: 1rem;
  }

  .scrollsection img{
    height: 20vw;
  }
  .scrollsectiondiv{
    height: 20vw;
    display: flex;
    align-items: flex-start;
  }
  

  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 90%;
    margin: 4rem auto;
    
  }

  .card img{
    height: 20vw;
  }

  .card{
    display: flex;
    /* width: clamp(5rem , 22vw , 20rem); */
    padding: 2rem 0.25rem 0 1.5rem;
     background: var(--Primary-Alice-Blue, #EDF9FD);
    box-shadow: 2.660855770111084px 3.991283655166626px 9.978209495544434px rgba(0, 0, 0, 0.25);
  }

  .innercard h3{
    font-size: clamp(0.25rem,2vw,3rem);
    font-weight: 600;
    font-family: var(--textFont);
    line-height: 90%;
    color: #15A6DD;
  }

  @media screen and (max-width:1000px) {
    .card{
      padding: 0.75rem 0.25rem 0 0.75rem;
    }
    .scrollsectiondiv h3{
      font-size: 1.5rem;
    }
    .innercard h3{
      font-size: 0.75rem;
      margin-right: 10px;
    }
  }