.main{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-bottom: clamp(2rem,3vw,2.5rem);
    background-color: rgb(255, 255, 255);
}

.heading{
    width: 94%;
    margin-bottom: -2rem;
    padding-bottom: 55px;
}

.heading h1{
	font-family: var(--titleFont);
	font-size: clamp(3.5rem,10vw,8rem);
	text-align: right;
	color:#8FDAF5;
}

.outerinfo{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.outerinfo .images:nth-child(even){
    flex-direction: row-reverse ;
}
.images{
    gap: 20px;
    display: flex;
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left div{
    /* height: 50%; */
/*     height: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.right img{
    height: 100%;
    width: 100%;
}

.one,.two{
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.overlay:hover{
    opacity: 100%;
    transition: all .3s ease-in-out;
}

.overlay p{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.907);
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width:1000px) {
    .images{
        flex-direction: column-reverse;
        gap: 8px;
        height: 35vh;
        width: 100%;
        /* padding: 10px; */
        /* height: 100%; */
        /* justify-content: space-around; */
    }

    .outerinfo{
        width: 100%;
    }
    .left{
        display: flex;
        width: 100%;
        height: 35%;
        flex-direction: revert;
    }
    .left div{
        height: 100%;
        /* width:50%; */
        width: 100%;
    }
    .right{
        height: 65%;
        width: 100%;
    }
    .outerinfo .images:nth-child(even){
        flex-direction: column;
    }

    .right img{
        height: 100%;
        width: 100%;
        object-fit:cover;
    }
    .heading{
        margin-bottom: -4rem;
    }

    .overlay p{
        font-size: 0.85rem;
    }
}
