.innercard img{
    height: clamp(3.5rem,10vw,8rem);
}

.card{
    box-shadow: 2.8346822261810303px 4.252023220062256px 8.504046440124512px rgba(0, 0, 0, 0.20);
}

.headingdiv  h1{
    font-family: var(--titleFont);
    font-size: clamp(3.5rem,10vw,8rem);
    text-align: right;
    color:#8FDAF5;
}
.innercard{
    height: clamp(5rem,14vw,12rem);
    width: 60%;
    gap: 20px;
    margin-left: clamp(0.1rem,2vw,1.5rem);
    align-items: center;
    display: flex;
    font-size: clamp(0.5rem,2vw,1.25rem);
    font-weight: 700;
    font-family: var(--textFont);
}
.maininner .card:nth-child(even){
    background-color: #F4F4F4;
}
.maininner .card:nth-child(odd){
    background-color:#B5EBFF;
}
.main{
    display: flex;
    flex-direction: column;
    /* height: 80vh;     */
    /* flex-wrap: wrap; */
    justify-content: end;
    align-items: center;
    margin-bottom: clamp(2rem,3vw,2.5rem);
    background-color: rgb(255, 255, 255);
}

.maininner{
    margin: 0 auto;
    /* width:80%; */
    /* gap:10px; */
    margin: 0;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 1cap; /* 10px column gap, 20pxrow gap */
}
.headingdiv{
    width: 90%;
    margin-bottom: -2rem;
}

@media screen and (max-width:450px) {
    .maininner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    
    }
    .maininner .card:nth-child(even){
        background-color: #F4F4F4;
    }
    .maininner .card:nth-child(odd){
        background-color:#B5EBFF;
    }
    .maininner .card{
        width: 10rem;
    }
    .headingdiv{
        margin-bottom: -0.75rem;
    }
}

.noUnderline {
    text-decoration: none;
    color: inherit; 
}
  
.noUnderline:visited {
color: inherit;
}
  
.noUnderline:hover {
text-decoration: none;
}
  